<nav class="navbar bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Fit'n Food</a>
  </div>
</nav>

<div class="container-fluid text-center p-0">
  <div class="row align-items-start mt-5 grid gap-3 ms-5 mb-3">
    <div class="col-md-4 border border-primary rounded vh-50 p-0">
      <app-workouts></app-workouts>
    </div>
    <div class="col-md-4 border border-primary rounded vh-50 p-0">
      <app-food></app-food>
    </div>
    <div class="col-md-3 vh-50">
      <div class="border border-primary rounded">
        <app-water></app-water>
      </div>
      <div class="border border-primary rounded mt-3">
        <app-profile></app-profile>
      </div>
    </div>
  </div>
</div>
